<div class="Header" style="background-image: url('{{ asset('bundles/syliusshop/images/header.jpg') }}')">

    <div id="NavBar">
        <div class="container py-4">

            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{{ path('sylius_shop_homepage') }}">
                    <img src="{{ asset('bundles/syliusshop/images/logo-200.png') }}"
                         alt="Boots & Brooms"
                         class="image-fluid">
                    <img src="{{ asset('bundles/syliusshop/images/brand-200.png') }}"
                         alt="Boots & Brooms"
                         class="image-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('bootsnbrooms_shop') }}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('bootsnbrooms_about') }}">À propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sylius_shop_contact_request') }}">Contact</a>
                        </li>
                    </ul>
                    <div>
                        {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
                    </div>
                </div>
            </nav>

        </div>
    </div>

</div>
