<div class="Header" style="background-image: url('{{ asset('build/shop/img/header.jpg') }}')">

    <div id="NavBar">
        <div class="ui container">
            <div class="ui secondary menu">
                <a class="item" href="{{ path('sylius_shop_homepage') }}">
                    <img src="{{ asset('build/shop/img/logo-200.png') }}"
                         alt="Boots & Brooms Logo">
                    <img src="{{ asset('build/shop/img/brand-200.png') }}"
                         alt="Boots & Brooms Brand">
                </a>
                <a class="active item" href="{{ path('bootsnbrooms_shop') }}">
                    Shop
                </a>
                <a class="item" href="{{ path('bootsnbrooms_about') }}">
                    À propos
                </a>
                <a class="item" href="{{ path('sylius_shop_contact_request') }}">
                    Contact
                </a>
                <div class="right menu">
                    <div class="item">
                        {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
                    </div>
                    <a class="item">
                        {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}
                    </a>
                    <a class="item">
                        {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}
                    </a>
                    {% if is_granted('ROLE_USER') %}
                        <div class="item" {{ sylius_test_html_attribute('full-name') }}>
                            {{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!
                        </div>
                        <a href="{{ path('sylius_shop_account_dashboard') }}" class="item">
                            {{ 'sylius.ui.my_account'|trans }}
                        </a>
                        <a href="{{ path('sylius_shop_logout') }}"
                           class="item sylius-logout-button" {{ sylius_test_html_attribute('logout-button') }}>
                            {{ 'sylius.ui.logout'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('sylius_shop_login') }}" class="item">{{ 'sylius.ui.login'|trans }}</a>
                        <a href="{{ path('sylius_shop_register') }}" class="item">{{ 'sylius.ui.register'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
